<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6"></div>
    <a href="/upload">Upload</a>
    <div class="col-3 mt-5"></div>
    
    <% let songIndex = 2 %>
    <!-- Music Tracks -->
    <div>
      <ul>
      <% for(var i=0; i<songs.length; i++) {%>
        <section class="audioTracks">
          <i class="fa-solid fa-play"></i>
          <img class="trackCoverArt" src="<%= songs[i].imageURL%>">
          <p class="trackTitle"><%= songs[i].title %></p>
          <!-- <audio controls src="<%= songs[i].songURL%>"></audio> -->
          <p class="trackArtist"><%= songs[i].artist%></p>
          <p class="albumTitle"><%= songs[i].album%></p>
          <p class="trackDuration">
            <% let minutes = Math.floor(songs[i].duration / 60) %>
            <% let seconds = (songs[i].duration - minutes * 60).toFixed() %>
            <%= `${minutes}:${seconds < 10 ? '0' + seconds : seconds }` %>
          </p>
        </section>
      <% } %>
      </ul> 
    </div>

    <!-- Music Player -->
    <div class="music-container" id="music-container">
      <div class="music-info">
        <p class="title"><%= songs[songIndex].title %></p>
        <p class="artist"><%= songs[songIndex].artist%></p>
        <div class="progress-container" id="progress-container">
          <div class="progress" id="progress"></div>
        </div>
      </div>

      <audio src="<%= songs[songIndex].songURL%>" id="audio"></audio>

      <div class="img-container">
        <img src="<%= songs[songIndex].imageURL%>" alt="music-cover" id="cover" />
      </div>
      <div class="navigation">
        <button id="prev" class="action-btn">
          <i class="fas fa-backward"></i>
        </button>
        <button id="play" class="action-btn action-btn-big">
          <i class="fas fa-play"></i>
        </button>
        <button id="next" class="action-btn">
          <i class="fas fa-forward"></i>
        </button>
      </div>
    </div>



  </div>
</div>

<%- include('partials/footer') -%>
