<script defer src="/js/helper.js"></script>

<%- include('partials/header') -%>

<nav class="navbar fixed-top navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/">CloudAmp</a>
    <div class="navbar-nav d-flex flex-row-reverse px-2">
      <a class="pill btn btn-outline-light mx-2" href="/logout">Sign Out</a>
      <a class="pill btn btn-outline-light mx-2 d-none" href="/profile">Profile</a>
      <a class="pill btn btn-outline-light mx-2" href="/upload">Upload</a>
      <span class="navbar-text text-light mx-2 text-capitalize"><%= user.userName %></span>
    </div>
  </div>
</nav>

<% let songIndex = 0 %>

<!-- Hero -->
<!-- <div class="container-fluid d-flex flex-column justify-content-center align-items-center first hero bg-primary bg-gradient text-light">
  <h2>CloudAmp</h2>
  <p>Your Music, Anywhere!</p>
</div> -->

<div class="hero video-background-holder">
  <div class="video-background-overlay-2"></div>
  <video
    playsinline="playsinline"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
  >
    <source src="/imgs/indexBG.mp4" type="video/mp4" />
  </video>
</div>


<!-- Song Library -->
<div class="library container-fluid text-light bg-dark">
  <div class="row py-2 border-bottom border-light">
      <span class="col text-center"></span>
      <span class="col-3 text-center">Title</span>
      <span class="col-3 text-center">Artist</span>
      <span class="col-3 text-center">Album</span>
      <span class="col text-center">Duration</span>
      <span class="col text-center"></span>
  </div>
  <div class="songParent pb-4">
    <% for(var i=0; i<songs.length; i++) {%>
        <div class="songDiv row d-flex" onclick="songDivIndex(this)">
          <span class="col py-1 border-bottom border-light d-flex justify-content-center align-items-center"><img class="trackCoverArt" src="<%= songs[i].imageURL%>" alt="ALbum Cover Art"></span>
          <span class="col-3 py-1 border-bottom border-light d-flex align-items-center"><%= songs[i].title %></span>
          <span class="col-3 py-1 border-bottom border-light d-flex justify-content-center align-items-center"><%= songs[i].artist%></span>
          <span class="col-3 py-1 border-bottom border-light d-flex justify-content-center align-items-center"><%= songs[i].album%></span>
          <span class="col py-1 border-bottom border-light d-flex justify-content-center align-items-center">
            <% let minutes = Math.floor(songs[i].duration / 60) %>
            <% let seconds = (songs[i].duration - minutes * 60).toFixed() %>
            <%= `${minutes}:${seconds < 10 ? '0' + seconds : seconds }` %>
          </span>
          <span class="col py-1 border-bottom border-light d-flex justify-content-center align-items-center"><a href="/delete/<%= songs[i]._id %>" title="delete" class="" ><i class="fa-solid fa-trash py-1 text-light"></i></a></span>
        </div>
      <% } %>
  </div>
</div>
  

<!-- Music Player -->
<div class="player container-fluid pt-3 position-absolute bottom-0 start-0 bg-dark" data-songs="<%= JSON.stringify(songs) %>">
  <div class="progressSection d-flex justify-content-center align-items-center">
    <!-- Current Time -->
    <span class="cDur text-light me-2">0:00</span>
    <!-- Progress Bar -->
    <span class="progress">
      <span class="progress-bar" role="progressbar" title="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= songs[songIndex]?.duration || 0 %>"></span>
    </span>
    <!-- Max Duration -->
    <span class="mDur text-light ms-2">0:00</span>
  </div>
  

  <div class="d-flex justify-content-between text-light mt-1">
    <!-- Track Img & Details -->
    <div class="playerDetails d-flex">
      <img src="<%= songs[songIndex]?.imageURL || 'https://res.cloudinary.com/drfh0vi5h/image/upload/v1676690365/musicIcon_zjv3ss.jpg'%>" alt="music-cover" class="cover id="cover" />
      <div class="trackDetails d-flex flex-column align-items-start justify-content-center ">
        <span class="title ps-2"><%= songs[songIndex]?.title || 'None' %></span>
        <span class="artist ps-2"><%= songs[songIndex]?.artist || 'None'%></span>
      </div>
    </div>
    
    <audio src="<%= songs[songIndex]?.songURL || ''%>" id="audio"></audio>
    
    <!-- Player Controls -->
    <div class="playerControls d-flex justify-content-center align-items-center">
      <button id="prev" class="playerBtn prev btn shadow-none mx-1 text-light" title="Previous Track">
        <i class="fas fa-backward"></i>
      </button>
      <button id="play" class="playerBtn play btn btn-primary shadow-none mx-1" title="Play Track">
        <i class="fas fa-play"></i>
      </button>
      <button id="next" class="playerBtn next btn  shadow-none mx-1 text-light" title="Next Track">
        <i class="fas fa-forward"></i>
      </button>
    </div>

    <!-- Volume Control -->
    <div class="volumeControl d-flex justify-content-end align-items-center text-light">
      <i class="fa-solid fa-volume-high text-light pe-2"></i>
      <label for="volumeRange" class="form-label"></label>
      <input type="range" class="form-range" min="0" max="100" step="1" id="volumeRange" name="volumeRange" placeholder="">
    </div>
  </div>

</div>


  


<%- include('partials/footer') -%>




