<!-- <script defer src="/js/helper.js"></script> -->

<%- include('partials/header') -%>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <div class="container-lg">
    <a class="navbar-brand text-info" href="/main">Cloud<span class="text-light">Amp</span></a>
    <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon d-flex justify-content-center align-items-center"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-info" href="#"><%= user.userName %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main">Player</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload">Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manage">Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="first container-lg mx-auto py-5">

  <section>
    <% if (locals.messages.errors) { %>
    <% messages.errors.forEach( el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %>
    <% } %>
    <% if (locals.messages.info) { %>
    <% messages.info.forEach( el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %>
    <% } %>
    <% if (locals.messages.success) { %>
    <% messages.success.forEach( el => { %>
    <div class="alert alert-success"><%= el.msg %></div>
    <% }) %>
    <% } %>
  </section>

  <div class='d-flex flex-column justify-content-center text-white'>
    <span class='pb-3'>Username: <span class="text-info"><%= user.userName %></span></span>
    <span class='pb-3'>Email: <span class="text-info"><%= user.email %></span></span>
  </div>

  <div class="accordion text-dark" id="selfHelp">
    <div class="accordion-item">
      <h2 class="accordion-header" id="selfHelp-One">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
          How do I change my password?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <section class="col-6 py-3">
            <form action="/update" method="POST">
              <div class="mb-4">
                <label for="currentPassword" class="form-label">Current Password:</label>
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Enter Password..." />
              </div>
              <div class="mb-4">
                <label for="newPassword" class="form-label">New Password:</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter Password..." />
              </div>
              <div class="mb-4">
                <label for="confirmNewPassword" class="form-label">Confirm New Password:</label>
                <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Enter Password..." />
              </div>
              <button type="submit" class="pill btn btn-outline-info">Submit</button>
            </form>
          </section>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="selfHelp-Two">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          What file formats does span CloudAmp support?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          CloudAmp currently supports the following file types: <span class="text-light">.aac<span class="text-info">,</span> .aiff<span class="text-info">,</span> .m4a<span class="text-info">,</span> .mp3<span class="text-info">,</span> .ogg <span class="text-info">&</span> .wav</span>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="selfHelp-Three">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>


</div>


<%- include('partials/footer') -%>